body,html {
	margin:0;
	height:100%;
	width:100%;
    background-color: rgb(230, 110, 155);
}

#map {
	height: 100%;
}

#pic {
    display: block;
    text-align: center;
    margin-top: -26px;
    margin-left: -10px;
    width: 109.5%;
}

#desc {
    margin-left:8px;
    margin-right:8px;
    margin-top: 30px;
    font-size: 15px;
    line-height: 26px;
}

body {
	display: grid;
	grid-template-rows: 59px 1fr 19px;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 7px;
    width: 100%;
	color: white;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
	font-size: 2em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 2px;
    vertical-align: middle;
    font-family: 'Bebas Neue', cursive;
}

.sidebar {
    font-size: 16px;
	color: #442a34;
	grid-area: sidebar;
	padding:10px;
	background-color: rgb(230, 110, 155);
	overflow:-moz-hidden-unscrollable;
    line-height: 28px;
    letter-spacing: -0.02em;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.sidebar-item{
	padding: 1px;
	margin: 5px;
	color:rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 2px;
	cursor: pointer; /*cursor changes to hand when hovering*/
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.sidebar-item:hover{
	color: rgb(255, 228, 146);
}

.content {
	grid-area: content;
    padding: 0px;
    
}

.footer {
	grid-area: footer;
	padding:0;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	color: white;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
	font-size: 1em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 2px;
    vertical-align: middle;
    font-family: 'Bebas Neue', cursive;
}

#link {
    text-decoration: none;
    color: rgb(255, 228, 146);
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 2px;
}

#pop {
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.27) 0px 0px 2px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}

#event {
    font-family: 'Bebas Neue', cursive;
    color: rgb(230, 110, 155);
    font-size: 2em;
    margin-bottom: -15px;
}